<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Gallery
    - Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="./CSS/home.css">
  <link rel="stylesheet" href="./CSS/zoom.css">
  <link rel="icon" type="image/x-icon" href="/Images/logo.png">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous" defer></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>

<body class="d-flex text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Photo Gallery</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="/new">Upload</a>
          <!-- <% if(true) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <form action="/logout" method="POST">
                                <button class="nav-link btn btn-link">Logout</button>
                            </form>
                            <% } %> -->
        </nav>
      </div>
    </header>


    <section>
      <div class="container">

        <div class="full-img" id="fullImgBox">
          <div class="full-img-btn-box">
            <button class="prev" onclick="plusSlides('<%=JSON.stringify(data)%>', '<%=JSON.stringify(index)%>', -1)">&larr;</button>
            <img src="<%= data[index].image_url%>" alt="<%= data[index].image_name %>" id="fullImg">
            <button class="next" onclick="plusSlides('<%=JSON.stringify(data)%>', '<%=JSON.stringify(index)%>', 1)">&rarr;</button>
          </div>
          <span id="trash-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </span>
          <span onclick="closeFullImg()">X</span>
        </div>


        <div class="row">
          <% for (let i = data.length-1; i >=0; i--) { %>
          <div class="col-md-4 col-12 p-2 d-flex justify-content-center">
            <img class="img" src="<%= data[i].image_url %>" alt="<%= data[i].image_name %>" width="100%" onclick="openFullImg('<%=JSON.stringify(data)%>', '<%=i%>', '<%=JSON.stringify(index)%>')">
          </div>
          <% } %>
        </div>



      </div>
    </section>

    <footer class="mt-auto text-white-50">
      <p>Copyright &copy; <script>
          document.write(new Date().getFullYear())
        </script> Pranjal Pratyush. All Rights Reserved</p>
    </footer>


  </div>

  <script>
    const fullImgBox = document.getElementById('fullImgBox')
    const fullImg = document.getElementById('fullImg')

    function openFullImg(data, i, index) {
      data = JSON.parse(data)
      index = JSON.parse(index).value
      i = parseInt(i)
      fullImg.src = data[i].image_url
      fullImgBox.style.display = "flex"
      index = {
        value: i}
    }

    function closeFullImg() {
      fullImgBox.style.display = "none";
    }

    function plusSlides(data, index, n) {
      console.log('plusSlides')
      data = JSON.parse(data)
      index = JSON.parse(index)
      console.log(data)
      console.log(index)
      index.value = index.value + n
      if (index >= data.length) {
        index.value = 0
      } else if (index < 0) {
        index.value = data.length - 1
      }
    }

  </script>
  <script src=".js"></script>
</body>

</html>